@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.Room {
  background: rgb(249, 252, 254);
  padding: 0px 120px 100px;
}

.Rooms {
  display: grid;
  place-items: center;
}

.Rooms h1 {
  font-size: 50px;
  margin: 70px 0px 0px 0px;
  font-family: "Playfair Display", serif;
  font-weight: normal;
}

hr {
  width: 9%;
  margin: 7px 0px 40px 0px;
}

.image{
  position: relative;
  margin: auto;
  overflow: hidden;
}

.image img {
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.border img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 40px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.sdds {
  background: #fff;
  padding-bottom: 10px;
}

.border .bod {
  display: grid;
  place-items: center;
  gap: 2.3rem;
  font-weight: normal;
  padding-top: 5px;
}

.border .bod h3 {
  font-weight: normal;
  font-family: "Plus Jakarta Sans", sans-serif;
  position: relative;
  top: 10px;
}

.border .bod p {
  position: relative;
  top: -20px;
  color: rgb(152, 146, 146);
}

@media screen and (max-width: 968px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 10%;
    width: 100%;
  }

  .Room {
      padding: 0px 15px 55px;
  }
} 
