.write {
    display: grid;
    place-items: center;
    color: #fff;
    text-align: center;
}

.write h2 {
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: normal;
}

.write h1 {
    font-size: 60px;
    letter-spacing: 2px;
    margin-bottom: 0.3em
}


